.formacao__item{
    width: 23rem;
    height: 25rem;
    line-height: 1.5rem;
    margin: 0 2em;
}
.formacao__item h3{
    font-weight: bold;
    font-size: 1.5em;
    margin: 1rem 0;
}

@media screen and (max-width:750px){
    .formacao__item{
        margin: 0 0 3em 0;
        width: 20rem;
        height: 22rem;
    }

    .formacao__item:last-child{
        margin-bottom: 0;
    }
}