#mainNavbar__email{
    font-weight: bold;
}

@media screen and (max-width:600px){   
    .mainNavbar{
        display: flex;
        flex-flow:column wrap;
        justify-content: space-between safe;
        align-items: center;
    }
}