@import url(../base/_variaveis.css);

.mainNavbar__links{
    padding: 0 1em;
    font-size: 1em;
    text-shadow: 1px 3px 2.5px  rgba(97, 97, 97, 0.473);
}

@media screen and (max-width:780px){
    .mainNavbar__links {
        text-align: center;
        font-size:0.8em;
        width: 18%;
        padding-bottom: 0.6em; 
    }
    #mainNavbar__email{
        font-size: 0.9em;
        margin:0.5em 0;
    }
}