@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,300&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    background: #e5e5e5;
    color: #464646;
}
section{
    margin: 5em auto;
}
footer{
    text-align: center;
    line-height: 2em;
    padding:1em 0 0 0;
    margin-top: 2em;
    border-top: solid 1px rgba(4, 4, 255, 0.404);
}

button:active{
    transform: scale(1.2);
    transition: none;
}

.section__subtitulo{
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin: 2rem 0 2.5rem 0;
}

abbr{
    text-decoration: none;
    font-style: italic;
    text-shadow: 1px 4px 5px #989da5;
}
/*flex-direction: x-reverse --> inverte também a referencia para flex-start e flex-end! O start é onde estão dispostos os items do flexbox*/


@media screen and (max-width:750px){
    
    h2{
        font-weight: bold;
        font-size: 1.5em;
    }
    section>h2{
        text-align: left;
        margin: 2rem 1rem;
    }
    section{
        margin: 3em auto;
    }
    footer{
        line-height: 1.5em;
        padding:1em 0;
        margin-top: 1.5em;
    }
    
}

