@import url(../base/_variaveis.css);

.headerDescricao{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width:90%;
    margin: 2rem 4rem;
    padding: 2.5rem 0;
}
#headerDescricao__saudacao {
    font-weight: bold;
    font-size: 1.8em;
    margin: 1em 0;
    line-height: 1.5em;
    width:85%;
}
.headerDescricao__texto p{
    line-height: 2em;
    margin-bottom: 1.5em;
    text-align: justify;
}

@media screen and (max-width:780px) {
    .headerDescricao{
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: space-between;
        margin: 1rem auto;
    }
    #headerDescricao__saudacao{
        font-weight: bold;
        font-size: 1.1em;
        margin-bottom: 0.5em;
        padding:0;
        width:95%;
    }
    .headerDescricao__texto {
        width: 100%;
    }
    .headerDescricao__texto p{
        line-height: 1.5em;
        font-size: 0.9em;
        text-align: justify;
    }
}
