.headerDescricao__foto{
    margin-left:4em;
    width:20rem;
    height:20rem;
    border-radius: 50%;
}

@media screen and (max-width:750px) {
    .headerDescricao__foto{
        order: -1;
        margin: 1.5rem 0;
        width: 10rem;
        height: 10rem;
        align-self: center;
    }
}