@import url(../base/_variaveis.css);

.headerDescricao__socialLinks{
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: flex-start;
    margin-top: 2em;
    width:95%;
}

.headerDescricao__socialLinks a {
    margin: 0 2em 0 0;
}

.headerDescricao__socialLinks img{
    vertical-align: text-bottom;
    display: inline;
}

@media screen and (max-width:780px){
    .headerDescricao__socialLinks{
        flex-flow: row wrap;
        justify-content: space-between;
        margin-top: 1rem;
        width:90%;
    }
    
    .headerDescricao__socialLinks a {
        margin: 1rem 1.4rem 0 0;
        width:18%;
        display: flex;
        flex-flow: row nowrap safe;
        justify-content: flex-start;
        align-items: baseline;
    }
    #socialLinks__baixarCurriculo{
        display: none;
    }
}
