@import url(../base/_variaveis.css);

.cardsLayout--hobbies{
    width:95%;
    margin: 2em auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center ;
    align-items: center;
    align-content: center;
}

@media screen and (max-width:780px){
    .cardsLayout--hobbies{
        flex-flow: row wrap;
        justify-content: space-around ;
        align-items: center;
    }
}