.cardsLayout--softSkills{
    width:90%;
    margin: 2em auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center ;
    align-content: center;
    align-items: center;
}

@media screen and (max-width:750px){
    .cardsLayout--softSkills{
        flex-flow: row wrap;
        justify-content: space-around ;
    }
}