@import url(../base/_variaveis.css);
.cardsLayout--hardSkills{
    width:90%;
    margin: 2em auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center ;
    align-content: center;
    align-items: center;
}

@media screen and (max-width:780px){
    .cardsLayout--hardSkills{
        flex-flow: row wrap;
        justify-content: space-around ;
        align-items: center;
    }
    .cardsLayout--hardSkills{
        width:100%;
    }
}