@import url(../base/_variaveis.css);

.cardsLayout__card{
    background: #FFFFFF;
    height:8rem;
    width:8rem;
    position:relative;
    display:inline-block;
    padding: 1.5rem;
    margin: 0 1em 0 0;
    border-radius:8px;
}
.cardsLayout__card span{
    display: block;
    position: absolute;
    bottom: 0.5em;
}
.cardsLayout__card img{
    display: block;
    position: absolute;
    left:33%;
    top:30%;
}

.cardsLayout--hobbies .cardsLayout__card{
    margin: 0 1rem 1.5rem 0;
}

.cardsLayout__card:active,.card-formacao:active{
    transform: scale(1.115);
}
.cardsLayout__card:hover,.card-formacao:hover{
    box-shadow: 5px 1px 4px 1px grey;
}


@media screen and (max-width:780px){
    .cardsLayout__card{
        height:8em;
        width:8em;
        margin: 1rem 1rem;
    }
    
    .cardsLayout__card span{
        font-weight: bold;
        font-size: 1rem;
    }

    .cardsLayout--hobbies .cardsLayout__card{
        height:7em;
        width:7em;
        margin: 1rem 2rem;
    }

    .cardsLayout--hobbies .cardsLayout__card img{
        left:28%;
        top:25%;
    }
}

@media screen and (max-width:500px){
    .cardsLayout__card{
        height:5em;
        width:5em;
        margin: 0.8rem 0.8rem;
    }
    
    .cardsLayout__card img{
        transform: scale(0.75);
        left:27%;
        top:22%;
    }

    .cardsLayout__card span{
        font-weight: bold;
        font-size: 0.7rem;
    }

    .cardsLayout--hobbies .cardsLayout__card{
        height:4em;
        width:4em;
        margin: 0.8rem 0.8rem;
    }
    .cardsLayout--hobbies .cardsLayout__card img{
        transform: scale(0.7);
        left:22%;
        top:20%;
    }
}