@import url(../base/_variaveis.css);
.contato{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:780px) {
    .contato{
        width:90%;
        flex-flow: column nowrap;
        margin: auto;
    }
}