.contato{
    display:flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: center;
}

@media screen and (max-width:750px) {
    .contato{
        width:90%;
        flex-flow: column nowrap;
    }
}