.controles__links{
    color:white;
    font-size: 1.1rem;
    width:40%;
    text-align: center;
    margin: 1.5rem;
    padding: 1em;
    background: #336ab8;
    border: 0.5px #0e3469 ridge;
    transition: all 0.3s ease-in-out;
}
.controles__links:hover{
    background: white; 
    color:#336ab8;
    box-shadow: inset 0px 0px 6px 2.5px #134994c2;
}

@media screen and (max-width:600px){
    .controles__links{
        width:35%;
        margin: 1rem;
        padding: 0.8em;
    }
}