@import url(../base/_variaveis.css);

.projetos__controles{
    margin: 1rem 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}

@media screen and (max-width:780px){
    .projetos__controles{
        margin: 0;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-around;
    }
}