@import url(../base/_variaveis.css);

.projetosLayout{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    align-content: stretch;
    width:95%;
    margin: 2.5rem auto;
    padding: 3.5em;
}
.projetosLayout h3{
    font-weight: bold;
    font-size: 1.5em;
    margin: 1rem 0;
}

@media screen and (max-width:780px){
    .projetosLayout{
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: space-between;
        padding: 1em;
        width:90%;
        margin: 2rem 0;
    }
    .projetosLayout h3{
        font-size: 1em;
    }
}